<div class="jumbotron">
	<div class="container">
		<h1><%= @company.name %></h1>
		<p><%= @company.description %></p>
		<p>
			<a href="<%= @company.website %>" class="btn btn-primary btn-lg">Visit website</a>
		</p>
	</div>
</div>
